.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.Lane {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  background-color: #9874c2;
  

}

.CardZone {
  display: flex;
}

.Location {
  height: 100;
  width: 100px;
}

.card {
  height: 200;
  width: 120px;
}
