.App {
  background-color: #1f2228;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.Lane {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  background-color: #85709d;
  

}



.Location {
  height: 100;
  width: 100px;
}

.card {
  height: 200;
  width: 120px;
  padding: 1em
}
